fastapi
uvicorn
uvicorn[standard]
locust==2.15.1
requests
python-jose[cryptography]
passlib[bcrypt]
python-multipart
bcrypt
email-validator
pymysql
cryptography
sqlalchemy
databases[mysql]
aiomysql
