fastapi
uvicorn
h11
httptools
uvloop
websockets
watchfiles
python-dotenv
locust==2.15.1
requests
python-jose
cryptography
passlib>=1.7.4
bcrypt==4.0.1
python-multipart
email-validator
pymysql
sqlalchemy
databases
aiomysql
pydantic
